body {
    margin: 0;
    background: #B24592; /* fallback */
    background: -webkit-linear-gradient(to right, #F15F79, #B24592);  /* fallback 2 */
    background: linear-gradient(to right, #F15F79, #B24592);
    color: white;
    text-align: center;
}

::selection {
    background: #CB3B76;
    color: white;
}

.sans-serif, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.monospace, .code-container input, .code-container p, .ast-child, .ast-node, button, code {
    font-family: 'Fira Code', 'Consolas', monospace;
}

#main {
    margin: 0 auto;
    padding: 30px 30px 60px 30px;
    max-width: 840px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

button {
    color: white;
    margin: 2px 2px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s background-color ease, 0.3s box-shadow ease, 0.5s color ease;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

button:active, button.active {
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

p > button {
    margin: 0;
    padding: 4px;
}

.code-container {
    margin: 0 auto;
    height: 56px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
}

.code-container:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.code-container:focus-within {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.code-container input {
    padding: 0px 16px;
    width: 100%; /* fallback */
    width: calc(100% - 32px);
    height: 56px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    color: #282828;
    outline: none;
    transition: 0.3s color ease;
    color: white;
    text-align: center;
}

.code-container input::-webkit-input-placeholder {
    color:  rgba(255, 255, 255, 0.8);
}

.code-container input:focus {
    color: black;
}

.code-container p {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    white-space: pre;
    color: transparent;
    user-select: none;
    pointer-events: none;
}

.code-container p .highlight-error {
    border-bottom: 2.5px solid red;
    background-color: rgba(255, 0, 0, 0);
    transition: border-radius, background-color ease 0.5s;
    padding: 4px;
    border-radius: 0;
}

.code-container:focus-within p .highlight-error {
    background-color: rgba(255, 0, 0, 0.15);
    border-radius: 2px;
}

.code-container p .highlight-white {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 4px;
    border-radius: 2px;
}

.code-container:focus-within p .highlight-white {
    background-color: rgba(203, 59, 118, 0.15);
}

.code-container p .highlight-error:empty::after, .code-container p .highlight-white-bg:empty::after {
    content: ' '
}

.ast-view {
    margin: 0 auto;
}

.ast-node {
    display: block;
    padding: 10px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin-bottom: 5px;
    height: 20px;
}

.ast-node.highlight {
    background-color: rgba(0, 0, 255, 0.5);
}

.ast-child {
    margin-left: 20px;
    position: relative;
}

.ast-child[data-symbol] > .ast-node {
    margin-left: 35px;
    border-radius: 0 4px 4px 0;
}

.ast-child::after {
    position: absolute;
    left: -12px;
    top: -5px;
    border-left: solid 2px rgba(255, 255, 255, 0.6);
    padding-top: 5px;
    height: 100%;
    width: 10px;
    content: ''
}

.ast-child:last-child::after {
    height: 20px;
}

.ast-child > .ast-node::after {
    position: absolute;
    left: -10px;
    top: -5px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.6);
    padding-top: 5px;
    height: 100%;
    height: 18px;
    width: 10px;
    content: ''
}

.ast-child[data-symbol]::before {
    position: absolute;
    left: 0;
    padding: 10px 0;
    width: 35px;
    height: 20px;
    border-radius: 4px 0 0 4px;
    background-color: rgba(255, 255, 255, 0.3);
    content: attr(data-symbol);
    white-space: nowrap;
    text-align: center;
}

.type-derivation-step p {
    white-space: pre-wrap;
    line-height: 1.5;
}

code {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1px 3px;
    border-radius: 2px;
    font-size: 95%;
}

@media only screen and (min-width: 900px) {
    .md-only {
        display: none;
    }

    h1 {
        font-size: 72px;
        margin: 0.67em 0 0 0;
    }
}

@media only screen and (max-width: 500px) {
    .md-only {
        display: none;
    }
}

.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    color: black;
    text-align: left;
    margin: 6% auto;
    padding: 20px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.2);
    width: 85%;
    border-radius: 8px;
}

.modal-content button {
    color: white;
    background-color: rgba(203, 59, 118, 0.7);
    transition: 0.3s background-color ease, 0.3s box-shadow ease, 0.5s color ease;
    float: right;
}

.modal-content button:hover {
    background-color: rgba(203, 59, 118, 0.5);
}

.modal-content button:active, .modal-content button.active {
    background-color:rgba(203, 59, 118, 0.9);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-top: 0.1em;
}

.modal-content li {
    margin: 6px 0
}