# Who knows what these files do. But latex generates them ¯\_(ツ)_/¯
*.aux
*.bbl
*.blg
*.dvi
*.log
*.toc
*.out
_minted-index/
*.fdb_latexmk
*.fls
*.synctex.gz

# Don't store generated PDFs (at least for now)
*.pdf